# Dependencias y builds
node_modules/
dist/
dist-ssr/

# Variables de entorno
.env
.env.*
!.env.example

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Archivos locales
*.local
.DS_Store

# Editores / IDE
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Supabase local
supabase/.branches/
supabase/.temp/
